@media screen and (min-width: 1024px) and (max-width: 1440px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-resolution: 280dpi) {
    html {
        font-size: 12px;
    }
}

@media (prefers-color-scheme: light) {
    :where(body) {
        --control-color-active: #dfe0e7;
        --control-color-accent: linear-gradient(90deg, #8300c4, #b200c4);
        --control-color-inactive: #d4d5dc;

        --frame-color: #ebecf1;

        --theme-color: #dee0e6;
        --gradient-1: #dee0e6;
        --gradient-2: #d4d5de;

        --loader-color: #f6f9ff;

        --text-color: #6c7180;

        --shadow: #e6e8ed 12px -12px 16px, #bdbec4 -12px 12px 16px;
    }
}

html {
    --control-color-active: #3b3c42;
    --control-color-accent: linear-gradient(90deg, #8300c4, #b200c4);
    --control-color-inactive: #323237;

    --frame-color: #252527;

    --theme-color: #1c1c1c;
    --gradient-1: #2e2e2e;
    --gradient-2: #161616;
    --loader-color: #272727;

    --text-color: #f3f3f3;

    --shadow: #27272a 8px -8px 16px, #1d1e21 -8px 8px 16px;

    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0;
    color: var(--text-color);
    font-family: Helvetica Neue, Lucida Grande, Arial, sans-serif;
    padding-bottom: 4rem;

    background: var(--theme-color);

    overflow-x: hidden;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
}

.bg {
    background: var(--theme-color) linear-gradient(173deg, var(--gradient-1), var(--gradient-2)) no-repeat;
    position: fixed;
    inset: 0;
    z-index: -1;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text-color);
    letter-spacing: 0.25rem;
    user-select: none;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem auto 1rem;
}

h2 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0 auto 2rem;
}

.button, .input {
    display: block;
    width: 70vw;
    max-width: 20rem;
    box-sizing: content-box;
    background-color: var(--control-color-active);
    border: none;
    color: var(--text-color);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 auto 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    user-select: none;
}

.button {
    text-transform: uppercase;
}

.section {
    box-sizing: border-box;

    background: var(--frame-color);
    border-radius: 2rem;

    padding: 1.5rem;
    margin: 3rem auto;

    max-width: 28rem;

    box-shadow: var(--shadow);
}

.input:has(select) {
    display: grid;
    grid-template-columns: auto fit-content(100%) auto;
    justify-content: space-between;
    align-items: baseline;

    padding: 0 1rem;
}

.input:has(select)::before {
    content: "<";
}

.input:has(select)::after {
    content: ">";
}

.input > select {
    width: 100%;
    padding: 1rem 0.5rem;

    border-radius: 0.75rem;

    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    color: var(--text-color);
    background: none;

    font-size: 2rem;
    font-family: inherit;
    font-weight: 300;
    text-align-last: center;

    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input.wheel {
    --pos: 0;

    position: relative;
    height: 2.4rem;
    user-select: none;
    z-index: 1;
}

.wheel::before {
    content: '';
    --offset: calc(100% * (1 - var(--pos)));

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1rem;
    background: var(--control-color-accent);
    border-radius: 0 0 0.75rem 0.75rem;

    pointer-events: none;
    z-index: -1;

    mask-image: linear-gradient(to bottom, transparent 75%, #000 75%),
    linear-gradient(to left, transparent var(--offset), #000 var(--offset));
    mask-composite: intersect;
}

.wheel .option {
    padding: 1rem;
    scroll-snap-align: center;
    user-select: none;
}

.wheel .fraction {
    font-size: 0.5em;
}


.input[type="text"],
.input[type="time"] {
    appearance: none;
    height: 2.4rem;
    font-family: inherit;
}

.input[type="text"]:focus,
.input[type="time"]:focus {
    outline: none;
    box-shadow: inset 0 0 0 0.05rem var(--control-color-accent);
}

.input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.input[type="time"]::-webkit-clear-button {
    display: none;
}

.button[disabled] {
    pointer-events: none;
}

.button[data-saving=true], .input[data-saving=true] {
    animation: saving infinite 2s;
}

.button[data-value=true] {
    background-color: var(--control-color-active)
}

.button[data-value=true]::before {
    content: "ON"
}

.button:not([disabled]):active {
    background-color: var(--control-color-inactive)
}

.button[data-value=false] {
    background-color: var(--control-color-active)
}

.button[data-value=false]::before {
    content: "OFF"
}

.input[data-loading=true], .button[data-loading=true] {
    color: transparent;
    background-image: linear-gradient(90deg, transparent, var(--loader-color), transparent);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    animation: background-shift linear infinite 2s;

    user-select: none;
    pointer-events: none;
}

.wheel[data-loading=true]::before {
    content: none;
}

.input[data-loading=true] > select {
    color: transparent;
}

p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
    user-select: none;
}

.status {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0;
    padding: 0.5rem 0;

    text-align: center;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.25rem;

    color: white;
    background: var(--control-color-accent);
}

:not(.m-top) + .m-top {
    margin-top: 4rem;
}

.m-top .m-top {
    margin-top: inherit;
}

@keyframes saving {
    0% {
        background-color: var(--control-color-active);
    }

    50% {
        background-color: var(--gradient-1);
    }

    100% {
        background-color: var(--control-color-active);
    }
}

@keyframes background-shift {
    0% {
        background-position: -1000% 0;
    }

    100% {
        background-position: 1000% 0;
    }
}