@media screen and (min-width: 1024px) and (max-width: 1440px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-resolution: 280dpi) {
    html {
        font-size: 12px;
    }
}


html {
    --control-color-active: #1d2030;
    --control-color-accent: #f97601;
    --control-color-inactive: #22232b;


    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0;
    color: #fff;
    font-family: Helvetica Neue, Lucida Grande, Arial, sans-serif;
    padding-bottom: 4rem;

    overflow-x: hidden;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
}

.bg {
    background: #33394d linear-gradient(173deg, #33394d, #1f2230) no-repeat;
    position: fixed;
    inset: 0;
    z-index: -1;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.25rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem auto 1rem;
}

h2 {
    font-size: 2rem;
    margin: 2rem auto 1rem auto;
}

h3 {
    font-size: 1.5rem;
    margin: 0 auto 2rem auto;
}

.button, .input {
    display: block;
    width: 70vw;
    max-width: 20rem;
    box-sizing: content-box;
    background-color: var(--control-color-active);
    border: none;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    margin: 0 auto 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    user-select: none;
}

.section {
    box-sizing: border-box;

    background: rgba(23, 16, 30, 0.22);
    border: rgba(17, 17, 17, 0.01) solid 0.1rem;
    border-radius: 2rem;

    padding: 1.5rem;
    margin: 2rem auto;

    max-width: 28rem;
}

.input:has(select) {
    display: grid;
    grid-template-columns: auto fit-content(100%) auto;
    justify-content: space-between;
    align-items: baseline;

    padding: 0 1rem;
}

.input:has(select)::before {
    content: "<";
}

.input:has(select)::after {
    content: ">";
}

.input > select {
    width: 100%;
    padding: 1rem 0.5rem;

    border-radius: 0.75rem;

    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    color: white;
    background: none;

    font-size: 2rem;
    font-family: inherit;
    text-align-last: center;

    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input.wheel {
    --pos: 0;

    position: relative;
    height: 2.4rem;
    user-select: none;
    z-index: 1;
}

.wheel::before {
    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 4rem;
    bottom: 0;
    right: calc(100% * (1 - var(--pos)));
    background: var(--control-color-accent);
    border-radius: 0 0 0.75rem 0.75rem;
    z-index: -1;
}

.wheel .option {
    padding: 1rem;
    scroll-snap-align: center;
    user-select: none;
}

.input[type="time"] {
    appearance: none;
    height: 2.4rem;
    font-family: inherit;
}

.input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.input[type="time"]::-webkit-clear-button {
    display: none;
}

.button[disabled] {
    pointer-events: none;
}

.button[data-saving=true], .input[data-saving=true] {
    animation: saving infinite 2s;
}

.button[data-value=true] {
    background-color: var(--control-color-active)
}

.button[data-value=true]::before {
    content: "ON"
}

.button[data-value=true]:not([disabled]):active {
    background-color: var(--control-color-inactive)
}

.button[data-value=false] {
    background-color: var(--control-color-active)
}

.button[data-value=false]::before {
    content: "OFF"
}

.button[data-value=false]:not([disabled]):active {
    background-color: var(--control-color-inactive)
}

.button-danger {
    background-color: #5e3434
}

#actions {
    margin-top: 8rem;
}


p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
}

#extra {
    bottom: 0;
    background: #edeaea;
}

.status {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0;
    padding: 0.5rem 0;

    text-align: center;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;

    color: white;
    background: #2b2d3e;
}

@keyframes saving {
    0% {
        background-color: #5e646d;
    }

    50% {
        background-color: #858c9a;
    }

    100% {
        background-color: #5e646d;
    }
}